In [399]:
import numpy as np
import pandas as pd
from scipy.stats import chi2_contingency

In [400]:
dtype = {
    "ID": str,
    "age": str,
    "sex": str,
    "city": str,
    "province": str,
    "country": str,
    "latitude": float,
    "longitude": float,
    "geo_resolution": str,
    "date_onset_symptoms": str,
    "date_admission_hospital": str,
    "date_confirmation": str,
    "symptoms": str,
    "lives_in_Wuhan": str,
    "travel_history_dates": str,
    "travel_history_location": str,
    "reported_market_exposure": str,
    "additional_information": str,
    "chronic_disease": str,
    "source": str,
    "sequence_available": str,
    "outcome": str,
    "date_death_or_discharge": str,
    "notes_for_discussion": str,
    "location": str,
    "admin1": str,
    "admin2": str,
    "admin3": str,
    "country_new": str,
    "admin_id": float,
    "data_moderator_initials": str,
    "travel_history_binary": str
}

In [401]:
df: pd.DataFrame = pd.read_csv(
    "./latestdata.csv",
    dtype=dtype,
    # nrows=1000
)
df

,ID,age,sex,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id,data_moderator_initials,travel_history_binary
0,000-1-1,NaN,male,Shek Lei,Hong Kong,China,22.365019,114.133808,point,NaN,...,NaN,NaN,Shek Lei,NaN,NaN,Hong Kong,China,8029.0,NaN,NaN
1,000-1-10,78,male,Vo Euganeo,Veneto,Italy,45.297748,11.658382,point,NaN,...,22.02.2020,NaN,Vo' Euganeo,NaN,NaN,Veneto,Italy,8954.0,NaN,NaN
2,000-1-100,61,female,NaN,NaN,Singapore,1.353460,103.815100,admin0,NaN,...,17.02.2020,NaN,NaN,NaN,NaN,NaN,Singapore,200.0,NaN,NaN
3,000-1-1000,NaN,NaN,Zhengzhou City,Henan,China,34.629310,113.468000,admin2,NaN,...,NaN,NaN,NaN,NaN,Zhengzhou City,Henan,China,10091.0,NaN,NaN
4,000-1-10000,NaN,NaN,Pingxiang City,Jiangxi,China,27.513560,113.902900,admin2,NaN,...,NaN,NaN,NaN,NaN,Pingxiang City,Jiangxi,China,7060.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676306,010-99995,52,female,Calleria,Coronel Portillo,Peru,-8.378190,-74.539700,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14429.0,NaN,False
2676307,010-99996,52,female,Pueblo Libre,Lima,Peru,-12.076530,-77.067350,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14695.0,NaN,False
2676308,010-99997,52,female,Comas,Lima,Peru,-11.932980,-77.040850,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14400.0,NaN,False
2676309,010-99998,52,male,Callao,Callao,Peru,-12.000740,-77.118240,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14516.0,NaN,False
2676310,010-99999,52,male,Los Olivos,Lima,Peru,-11.976260,-77.075030,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14502.0,NaN,False

In [402]:
df.info(verbose=True, max_cols=307382, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676311 entries, 0 to 2676310
Data columns (total 33 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ID                        2676311 non-null  object
 1   age                       578018 non-null   object
 2   sex                       580157 non-null   object
 3   city                      1698630 non-null  object
 4   province                  2223647 non-null  object
 5   country                   2676196 non-null  object
 6   latitude                  2676250 non-null  float64
 7   longitude                 2676250 non-null  float64
 8   geo_resolution            2676250 non-null  object
 9   date_onset_symptoms       261599 non-null   object
 10  date_admission_hospital   116211 non-null   object
 11  date_confirmation         2567822 non-null  object
 12  symptoms                  2052 non-null     object
 13  lives_in_Wuhan            4338 non-null     object
 14  travel_history_dates      2611 non-null     object
 15  travel_history_location   9222 non-null     object
 16  reported_market_exposure  1069 non-null     object
 17  additional_information    45855 non-null    object
 18  chronic_disease_binary    2676311 non-null  bool
 19  chronic_disease           215 non-null      object
 20  source                    2109347 non-null  object
 21  sequence_available        12 non-null       object
 22  outcome                   307382 non-null   object
 23  date_death_or_discharge   3148 non-null     object
 24  notes_for_discussion      640 non-null      object
 25  location                  13376 non-null    object
 26  admin3                    80434 non-null    object
 27  admin2                    826054 non-null   object
 28  admin1                    1257558 non-null  object
 29  country_new               2645758 non-null  object
 30  admin_id                  2676250 non-null  float64
 31  data_moderator_initials   1742983 non-null  object
 32  travel_history_binary     2610732 non-null  object
dtypes: bool(1), float64(3), object(29)
memory usage: 655.9+ MB

In [403]:
# Total of missing values
total_cells = np.prod(df.shape)
total_missing = df.isnull().sum().sum()
# Percentage of missing data
print((total_missing / total_cells) * 100)

56.49519511043826

In [404]:
df = df.drop('latitude', axis=1)

In [405]:
df = df.drop('longitude', axis=1)

In [406]:
df = df.drop('ID', axis=1)

In [407]:
df = df.drop('data_moderator_initials', axis=1)

In [408]:
df = df.drop('source', axis=1)

In [409]:
df = df.drop('notes_for_discussion', axis=1)

In [410]:
df = df.drop('sequence_available', axis=1)

In [411]:
df = df.drop('additional_information', axis=1)

In [442]:
df["outcome"].value_counts()

outcome
recovered       2466865
hospitalized     203447
death              5999
Name: count, dtype: int64

In [413]:
def parse_outcome(outcome):
    if isinstance(outcome, float):
        return "recovered"
    else:
        dead = ["died", "deceased", "death", "dead"]
        hospital = ["receiving treatment", "under treatment", "hospitalized",
                    "symptoms only improved with cough. currently hospitalized for follow-up.",
                    "treated in an intensive care unit (14.02.2020)", "stable condition", "stable",
                    "critical condition, intubated as of 14.02.2020", "severe", "critical condition", "severe illness",
                    "unstable", "migrated", "migrated_other"]
        recovered = ["alive", "discharge", "discharged from hospital", "recovering at home 03.03.2020",
                     "not hospitalized", "released from quarantine", "https://www.mspbs.gov.py/covid-19.php",
                     "discharged"]

        if outcome in dead:
            return "death"
        if outcome in hospital:
            return "hospitalized"
        if outcome in recovered:
            return "recovered"
    return outcome


df["outcome"].apply(parse_outcome).value_counts()

outcome
recovered                                                                   2373014
Hospitalized                                                                 202475
Recovered                                                                     93656
Deceased                                                                       5011
death                                                                           967
Under treatment                                                                 370
hospitalized                                                                    298
Receiving Treatment                                                             257
Alive                                                                           189
Stable                                                                           31
Dead                                                                             13
Migrated_Other                                                                    8
Migrated                                                                          5
Died                                                                              4
Death                                                                             4
Discharged from hospital                                                          4
Symptoms only improved with cough. Currently hospitalized for follow-up.          2
Discharged                                                                        2
Critical condition                                                                1
Name: count, dtype: int64

In [441]:
df["outcome"] = df["outcome"].apply(parse_outcome)

In [415]:
for col in df:
    if df.dtypes[col] == "object":
        df[col] = df[col].str.lower()

In [416]:
# df["sex"] = df["sex"].fillna(df["sex"].mode()[0])

In [417]:
df["country"] = df["country"].fillna(df["country"].mode()[0])

In [418]:
def get_province(row):
    if row["province"].value_counts().empty:
        return float('NaN')
    else:
        return row["province"].value_counts().idxmax()


df["province"] = df["province"].fillna(df.groupby('country').apply(get_province, include_groups=False))

In [419]:
# Clean age field
def age_to_int(age_str):
    if isinstance(age_str, float):
        return None

    if "-" in age_str:
        age_min, age_max = age_str.split("-")
        if age_min == '':
            return int(age_max)
        if age_max == '':
            return int(age_min)
        age_min, age_max = int(age_min), int(age_max)
        return int((age_min + age_max) / 2)

    if "weeks" in age_str:
        return 0

    if "months" in age_str or "month" in age_str:
        num, _ = age_str.split(" ")
        if int(num) < 12:
            return 0
        return int(int(num) / 12)

    if age_str[-1] == "+" or age_str[-1] == "-":
        return int(age_str[:-1])

    return int(float(age_str))


df["age"] = df["age"].apply(age_to_int)
df["age"] = df["age"].fillna(int(df["age"].mean()))

In [420]:
def parse_bool(x):
    return not isinstance(x, float)

In [421]:
df["chronic_disease_binary"] = df["chronic_disease_binary"].apply(parse_bool)

In [422]:
df["asymptomatic"] = df["date_onset_symptoms"].apply(parse_bool)

In [423]:
df["lives_in_Wuhan"] = df["lives_in_Wuhan"].apply(parse_bool)

In [424]:
df["travel_history_binary"] = df["travel_history_binary"].apply(parse_bool)

In [425]:
df["reported_market_exposure"] = df["reported_market_exposure"].apply(parse_bool)

In [426]:
df.info(verbose=True, max_cols=307382, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676311 entries, 0 to 2676310
Data columns (total 26 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   age                       2676311 non-null  float64
 1   sex                       580157 non-null   object
 2   city                      1698630 non-null  object
 3   province                  2223647 non-null  object
 4   country                   2676311 non-null  object
 5   geo_resolution            2676250 non-null  object
 6   date_onset_symptoms       261599 non-null   object
 7   date_admission_hospital   116211 non-null   object
 8   date_confirmation         2567822 non-null  object
 9   symptoms                  2052 non-null     object
 10  lives_in_Wuhan            2676311 non-null  bool
 11  travel_history_dates      2611 non-null     object
 12  travel_history_location   9222 non-null     object
 13  reported_market_exposure  2676311 non-null  bool
 14  chronic_disease_binary    2676311 non-null  bool
 15  chronic_disease           215 non-null      object
 16  outcome                   2676311 non-null  object
 17  date_death_or_discharge   3148 non-null     object
 18  location                  13376 non-null    object
 19  admin3                    80434 non-null    object
 20  admin2                    826054 non-null   object
 21  admin1                    1257558 non-null  object
 22  country_new               2645758 non-null  object
 23  admin_id                  2676250 non-null  float64
 24  travel_history_binary     2676311 non-null  bool
 25  asymptomatic              2676311 non-null  bool
dtypes: bool(5), float64(2), object(19)
memory usage: 441.6+ MB

In [427]:
df

,age,sex,city,province,country,geo_resolution,date_onset_symptoms,date_admission_hospital,date_confirmation,symptoms,...,outcome,date_death_or_discharge,location,admin3,admin2,admin1,country_new,admin_id,travel_history_binary,asymptomatic
0,45.0,male,shek lei,hong kong,china,point,NaN,NaN,14.02.2020,NaN,...,hospitalized,NaN,shek lei,NaN,NaN,hong kong,china,8029.0,False,False
1,78.0,male,vo euganeo,veneto,italy,point,NaN,NaN,21.02.2020,NaN,...,death,22.02.2020,vo' euganeo,NaN,NaN,veneto,italy,8954.0,False,False
2,61.0,female,NaN,NaN,singapore,admin0,NaN,NaN,14.02.2020,NaN,...,recovered,17.02.2020,NaN,NaN,NaN,NaN,singapore,200.0,False,False
3,45.0,NaN,zhengzhou city,henan,china,admin2,NaN,NaN,26.01.2020,NaN,...,recovered,NaN,NaN,NaN,zhengzhou city,henan,china,10091.0,False,False
4,45.0,NaN,pingxiang city,jiangxi,china,admin2,NaN,NaN,14.02.2020,NaN,...,recovered,NaN,NaN,NaN,pingxiang city,jiangxi,china,7060.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676306,52.0,female,calleria,coronel portillo,peru,point,NaN,NaN,17.05.2020,NaN,...,recovered,NaN,NaN,NaN,NaN,NaN,peru,14429.0,True,False
2676307,52.0,female,pueblo libre,lima,peru,point,NaN,NaN,17.05.2020,NaN,...,recovered,NaN,NaN,NaN,NaN,NaN,peru,14695.0,True,False
2676308,52.0,female,comas,lima,peru,point,NaN,NaN,17.05.2020,NaN,...,recovered,NaN,NaN,NaN,NaN,NaN,peru,14400.0,True,False
2676309,52.0,male,callao,callao,peru,point,NaN,NaN,17.05.2020,NaN,...,recovered,NaN,NaN,NaN,NaN,NaN,peru,14516.0,True,False
2676310,52.0,male,los olivos,lima,peru,point,NaN,NaN,17.05.2020,NaN,...,recovered,NaN,NaN,NaN,NaN,NaN,peru,14502.0,True,False

In [428]:
for col in df:
    print(df[col].value_counts())

age
45.0     2105146
47.0       79415
24.0       56325
69.0       35429
80.0       21346
          ...
103.0          4
120.0          4
121.0          1
107.0          1
106.0          1
Name: count, Length: 110, dtype: int64
sex
male      307188
female    272969
Name: count, dtype: int64
city
moscow                149478
mumbai                 56178
moscow oblast          29170
chennai                23907
milano                 23124
                       ...
mogpog                     1
palayan                    1
labangan                   1
sampaloc                   1
san pedro de coris         1
Name: count, Length: 8335, dtype: int64
province
central                        206921
england                        156106
maharashtra                    106515
lima                            99326
lombardia                       87238
                                ...
laghouat                            1
san andres islas                    1
thessaly and central greece         1
hoguin                              1
tarata                              1
Name: count, Length: 1210, dtype: int64
country
india                               301322
russia                              299568
united kingdom                      299469
spain                               255108
italy                               231006
                                     ...
latvia                                   1
gibraltar                                1
liechtenstein                            1
saint vincent and the grenadines         1
andorra                                  1
Name: count, Length: 146, dtype: int64
geo_resolution
point     971106
admin2    776053
admin0    450641
admin1    398033
admin3     80341
jpcp          76
Name: count, dtype: int64
date_onset_symptoms
20.03.2020    6735
23.03.2020    6436
16.03.2020    6336
27.03.2020    6191
18.03.2020    6095
              ...
30.12.2019       1
26.11.2020       1
23.12.2019       1
20.12.2019       1
08.06.2020       1
Name: count, Length: 170, dtype: int64
date_admission_hospital
01.04.2020    4784
02.04.2020    4534
31.03.2020    4204
03.04.2020    4176
07.04.2020    3647
              ...
16.02.2020       2
31.12.2019       2
01.01.2020       1
10.12.2019       1
06.01.2020       1
Name: count, Length: 162, dtype: int64
date_confirmation
26.03.2020               48319
27.03.2020               43379
23.03.2020               39288
06.05.2020               38679
07.05.2020               38606
                         ...
06.01.2020                   2
12.03.2020-14.03.2020        2
16.01.2020                   2
12.01.2020                   2
17.01.2020                   2
Name: count, Length: 177, dtype: int64
symptoms
fever                                    320
mild to moderate                         257
mild:moderate                            128
cough, fever                             126
cough                                     52
                                        ...
fatigue, shortness of breath               1
chest distress, cough, fatigue, fever      1
cold chills, muscular soreness             1
cough, expectoration, emesis, fever        1
kidney failure                             1
Name: count, Length: 435, dtype: int64
lives_in_Wuhan
False    2671973
True        4338
Name: count, dtype: int64
travel_history_dates
21.01.2020               114
22.01.2020                99
15.03.2020                97
14.03.2020                92
20.01.2020                88
                        ...
01.04.2020                 1
03.04.2020                 1
17.03.2020-19.03.2020      1
03.03.2020-08.03.2020      1
29.04.2020                 1
Name: count, Length: 214, dtype: int64
travel_history_location
usa                               1234
spain                             1149
wuhan city, hubei                  729
italy                              684
france                             340
                                  ...
cambodia                             1
south korea; united states           1
united arab emirates; thailand       1
thailand; singapore                  1
uruguay                              1
Name: count, Length: 741, dtype: int64
reported_market_exposure
False    2675242
True        1069
Name: count, dtype: int64
chronic_disease_binary
True    2676311
Name: count, dtype: int64
chronic_disease
https://coronavirus.dc.gov/page/coronavirus-data                                    48
hypertension                                                                        22
https://cv.nmhealth.org/2020/03/25/updated-new-mexico-covid-19-cases-now-at-112/    12
hypertension:diabetes                                                               10
diabetes                                                                             9
                                                                                    ..
chronic kidney disease:hypertension:diabetes:ischemic heart disease                  1
pre-renal azotemia:diabetes:hypertension                                             1
benign prostatic hyperplasia                                                         1
hypertension:bronchial asthma:impaired fasting glucose                               1
diabetes:hypertenstion:upper git bleeding                                            1
Name: count, Length: 81, dtype: int64
outcome
recovered                                                                   2466670
hospitalized                                                                 202773
deceased                                                                       5011
death                                                                           971
under treatment                                                                 370
receiving treatment                                                             257
alive                                                                           189
stable                                                                           31
dead                                                                             13
migrated_other                                                                    8
migrated                                                                          5
discharged from hospital                                                          4
died                                                                              4
discharged                                                                        2
symptoms only improved with cough. currently hospitalized for follow-up.          2
critical condition                                                                1
Name: count, dtype: int64
date_death_or_discharge
30.05.2020    55
22.05.2020    55
03.06.2020    54
29.05.2020    50
26.05.2020    50
              ..
31.01.2020     2
03.22.2020     1
19.01.2020     1
09.01.2020     1
18.01.2020     1
Name: count, Length: 144, dtype: int64
location
jaipur               3545
agra                 1661
gurugram             1171
chicago               985
yokohama port         958
                     ...
cuxhaven district       1
middle franconia        1
fuerstenfeldbruck       1
hannover region         1
bordeaux                1
Name: count, Length: 342, dtype: int64
admin3
birmingham          3160
sheffield           2245
leeds               1617
manchester          1380
liverpool           1339
                    ...
wangjiang county       2
westoverledingen       1
schuettorf             1
uetze                  1
yuan'an county         1
Name: count, Length: 409, dtype: int64
admin2
moscow            149476
moscow oblast      29170
milano             23124
greater london     22574
torino             15688
                   ...
barry county           1
allegan county         1
gila county            1
macon county           1
ravalli county         1
Name: count, Length: 2085, dtype: int64
admin1
central                         200911
england                         147694
lombardia                        78348
madrid                           57756
new york                         56468
                                 ...
bruxelles-capitale                   1
obwalden                             1
lucerne                              1
bajia                                1
santiago metropolitan region         1
Name: count, Length: 615, dtype: int64
country_new
india                               301207
russia                              299568
united kingdom                      299469
spain                               255108
italy                               231006
                                     ...
gibraltar                                1
liechtenstein                            1
saint vincent and the grenadines         1
andorra                                  1
gambia                                   1
Name: count, Length: 145, dtype: int64
admin_id
228.0      159779
6345.0     149476
235.0      107767
577.0       57756
10966.0     56178
            ...
13256.0         1
13254.0         1
13250.0         1
13248.0         1
15118.0         1
Name: count, Length: 10108, dtype: int64
travel_history_binary
True     2610732
False      65579
Name: count, dtype: int64
asymptomatic
False    2414712
True      261599
Name: count, dtype: int64

In [439]:
def is_correlated(var_name1, var_name2, data_frame: pd.DataFrame):
    try:
        new_frame = data_frame[[var_name1, var_name2]]
        new_frame = new_frame.dropna(how="any", axis=0)
        ct = pd.crosstab(index=new_frame[var_name1], columns=new_frame[var_name2])
        print(ct)
        chi2_res = chi2_contingency(ct, )
        p, x, dof_ = chi2_res[1], "correlated" if chi2_res[1] < 0.05 else "not-correlated", chi2_res[2]
        return p, x, dof_
    except ValueError:
        return 0, "no data", 0

In [443]:
outcome_df = df[df['outcome'].notna()]

In [447]:
corr = [[], []]
to_check = ["sex", "country", "sex", "lives_in_Wuhan", "travel_history_binary"]
for var1 in df:
    if var1 != "ID" and var1 in to_check:
        p_val, correlation, dof = is_correlated(var1, "outcome", outcome_df)
        if correlation == "correlated":
            corr[0].append((p_val, dof, var1))
        else:
            corr[1].append((p_val, dof, var1))
        print("")

corr[0].sort()
corr[1].sort()

print("Correlated")

for ln in corr[0]:
    print(ln)

print("Non-Correlated")

for ln in corr[1]:
    print(ln)

outcome  death  hospitalized  recovered
sex
female     546         10788     261635
male       941         20586     285661

outcome               death  hospitalized  recovered
country
afghanistan               0             0          8
albania                   0             0       1054
algeria                   7             0       1260
andorra                   0             0          1
angola                    0             0          4
...                     ...           ...        ...
venezuela                 0             0          2
vietnam                   0             0         34
virgin islands, u.s.      0             0          2
zambia                    0             0         22
zimbabwe                  4            31          1

[146 rows x 3 columns]

outcome         death  hospitalized  recovered
lives_in_Wuhan
False            5954        203433    2462586
True               45            14       4279

outcome                death  hospitalized  recovered
travel_history_binary
False                     81            82      65416
True                    5918        203365    2401449

Correlated
(0.0, 2, 'sex')
(0.0, 2, 'travel_history_binary')
(0.0, 290, 'country')
(1.3254731626810238e-98, 2, 'lives_in_Wuhan')
Non-Correlated

In [ ]:
outcome_df.head()